*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}
body{
    height: 100vh;
    width: auto;
}
.topDiv {
    height: 12vh;
    margin-top: 12vh;
    margin-left: 35%;
    font-size: 20px;
}
.hint{
    margin-top: 1vh;
    font-size: 15px;
    margin-left: 13vh;
}
.wTable{
    margin-left: 45%;
    margin-top: 5vh;
    display: block;
    position: relative;
    width: 40vw;
    height: auto;
}
.words{
    margin-top: 8vh;
    width: 50%;
    margin-left: -7%;
}
.end{
    width: 100%;
    margin-left: 28%;
    margin-top: 20vh;
}
